<div class="chat-container">
    <div class="chat-box">
      <div class="chat-header">
        <img
          src="/static/images/Logo.png"
          alt="Burito Chops Bot Logo"
        />
        <h2 class="chat-title">Bugerito Chatbot &#x1f916</h2>
      </div>
      <div class="chat-body" id="chat-body"></div>
      <div class="chat-footer">
        <form action="" id="form">
          <input type="text" id="my-input" placeholder="Type a message" />
          <button class="chat-send" type="submit"><i class="fa fa-send"></i></button>
        </form>
        <div class="popup-options"></div>
      </div>
    </div>
  </div>